<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Workflow profile"
            iconpath="resources/icons/workflow16.png"
            name="Workflow"
            path="pathmap://WORKFLOW_PROFILE/workflow.profile.uml"
            provider="EclipseSource">
      </profile>
   </extension>

</plugin>
