<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.eclipsesource.workflow.ui.category"
            name="Workflow">
      </category>
      <wizard
            category="com.eclipsesource.workflow.ui.category"
            class="com.eclipsesource.workflow.ui.wizard.CreateWorkflowModelWizard"
            icon="resources/icons/workflow16.png"
            id="com.eclipsesource.workflow.ui.newmodel"
            name="Workflow Model"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.eclipsesource.workflow.ui.handler.CreateWorkflowModelHandler"
            id="com.eclipsesource.workflow.ui.NewWorkflowModel"
            name="New Workflow Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
          <menuContribution
             locationURI="popup:common.new.menu?before=new">
         <command
               commandId="com.eclipsesource.workflow.ui.NewWorkflowModel"
               icon="resources/icons/workflow16.png"
               label="New Workflow Model"
               mnemonic="WFModel"
               style="push"
               tooltip="Create new workflow model inside the project">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
         <menuContribution
             locationURI="menu:common.new.menu?after=additions">
         <command
               commandId="com.eclipsesource.workflow.ui.NewWorkflowModel"
               icon="resources/icons/workflow16.png"
               label="New Workflow Model"
               mnemonic="WFModel"
               style="push"
               tooltip="Create new workflow model inside the project">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
