<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wfnotation -->
      <package
            uri="http://www.eclipsesource.com/glsp/examples/workflow/notation"
            class="org.eclipse.emfcloud.coffee.modelserver.wfnotation.WfnotationPackage"
            genModel="model/workflow-notation.genmodel"/>
   </extension>
</plugin>
