matrix:
  include:
    - sudo: required
      language: node_js
      node_js:
        - "10"
      cache:
        yarn: true
        directories:
          - node_modules
      addons:
        apt:
          update: true
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - libxkbfile-dev
          chrome: stable
      before_cache:
        # Runs before the cache is updated, after successful CI
        - rm -rf node_modules/electron
      env:
        global:
          - NODE_OPTIONS="--max_old_space_size=4096"
      before_install:
        - dpkg --compare-versions `npm -v` ge 5.8 || npm i -g npm@^5.8
      script:
        - cd web/ && yarn --network-concurrency 1
    - language: java
      jdk: oraclejdk8
      dist: trusty
      cache:
        directories:
          - "$HOME/.m2/repository"
      env:  
        global:  
          - DISPLAY=:99.0
      before_install:
        - sh -e /etc/init.d/xvfb start - sleep 10
      install: true
      script:
        - cd backend/releng/com.eclipsesource.coffee.parent && mvn clean install
    - stage: deploy
      services:
        - docker
      env:
        global:
          - CLOUDSDK_CORE_DISABLE_PROMPTS=1
      language: java
      jdk: openjdk10
      node_js:
        - "10"
      script:
        - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash ./deploy-k8s.sh; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then echo Deploy not allowed; fi'
