<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="resources/architecture/workflow.architecture">
      </model>
   </extension>
       <extension
         name="UML Subset for Workflow Modelling"
         point="org.eclipse.papyrus.infra.properties.contexts">
		<context appliedByDefault="true" contextModel="resources/context/Workflow.contexts" isCustomizable="true"/>
	</extension>
	<extension
          point="org.eclipse.papyrus.infra.properties.environments">
       <environment
             environmentModel="resources/context/workflow.environment">
       </environment>
    </extension>
    <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext
            id="com.eclipsesource.workflow.architecture">
         <matcher
               class="org.eclipse.papyrus.infra.services.edit.internal.matcher.NoContextEnablementMatcher">
         </matcher>
      </clientContext>
      <binding
            context="com.eclipsesource.workflow.architecture">
         <advice
               ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents">
         </advice>
      </binding>
   </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?before=navigateMenu">
          <command
                commandId="com.eclipsesource.workflow.architecture.navigateToCode"
                label="Navigate to code"
                style="push">
                <visibleWhen>
		           <iterate
		                 ifEmpty="false">
		              <or>
		                 <instanceof
		                       value="org.eclipse.papyrus.uml.diagram.activity.edit.parts.OpaqueActionEditPart">
		                 </instanceof>
		              </or>
		           </iterate>
		        </visibleWhen>
          </command>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="com.eclipsesource.workflow.architecture.internal.commands.NavigationCommandHandler"
             id="com.eclipsesource.workflow.architecture.navigateToCode"
             name="NavigateToCode">
       </command>
    </extension>
</plugin>
