<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Coffee 2020-09" sequenceNumber="1620991604">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
      <unit id="org.apache.commons.cli" version="0.0.0"/>
      <unit id="ch.qos.logback.slf4j" version="1.2.3.v20200428-2012"/>
      <unit id="org.slf4j.log4j" version="0.0.0"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <repository id="orbit-release" location="http://download.eclipse.org/tools/orbit/R-builds/R20200831200620/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xpand" version="0.0.0"/>
      <unit id="org.eclipse.xtend" version="0.0.0"/>
      <unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <repository id="eclipse-2020-09" location="http://download.eclipse.org/releases/2020-09/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
      <repository id="eclipse-4.17" location="http://download.eclipse.org/eclipse/updates/4.17/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/lsp4j/updates/releases/0.9.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emfcloud.modelserver.feature.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/emfcloud/modelserver/p2/nightly/0.7/0.7.0.202105141035/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.emfjson.jackson" version="0.0.0"/>
      <repository location="http://ghillairet.github.io/p2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.glsp.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.glsp.layout" version="0.0.0"/>
      <unit id="org.eclipse.glsp.server" version="0.0.0"/>
      <repository location="https://download.eclipse.org/glsp/server/p2/releases/0.8.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/elk/updates/nightly/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.websocket.server" version="0.0.0"/>
      <repository location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.server" version="9.4.34.v20201102"/>
      <repository location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.34.v20201102/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emfcloud.validation.framework" version="1.0.0.202104151035"/>
      <repository location="https://raw.githubusercontent.com/eclipsesource/model-validation-updatesite/master/"/>
    </location>
  </locations>
</target>
