<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Workflow Oxygen" sequenceNumber="1535471741">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.toolsmiths.feature.feature.group" version="1.1.0.201803070847"/>
      <repository id="papyrus-release" location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.tooling.feature.group" version="3.3.1.201509291144"/>
      <unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.3.1.201509291144"/>
      <unit id="org.eclipse.gmf.tooling.codegen.xtend2.feature.group" version="3.3.1.201509291144"/>
      <repository id="gmf-tooling-release" location="http://download.eclipse.org/modeling/gmp/gmf-tooling/updates/releases-3.3.1a"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.18.0.v20171217-2215"/>
      <repository id="e4-tools-latest" location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
      <repository id="orbit-release" location="http://download.eclipse.org/tools/orbit/R-builds/R20170516192513/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.compare.feature.feature.group" version="0.0.0"/>
      <repository id="papyrus-compare" location="https://hudson.eclipse.org/papyrus/job/Papyrus-Compare-Oxygen-Integration/lastSuccessfulBuild/artifact/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="5.0.2.201807311906-r"/>
      <repository id="egit" location="http://download.eclipse.org/egit/updates"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository id="cbi-license" location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.17.0.20180611-0706"/>
      <unit id="org.eclipse.emfforms.editor.feature.feature.group" version="1.17.0.20180611-0706"/>
      <unit id="org.eclipse.emfforms.coffee.feature.feature.group" version="1.17.0.20180611-0706"/>
      <repository id="emf-forms" location="http://download.eclipse.org/ecp/releases/releases_target_117/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.draw2d.feature.group" version="3.10.100.201606061308"/>
      <unit id="org.eclipse.emf.feature.group" version="2.13.0.v20170609-0928"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.1.201705291011"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.9.1.201705291011"/>
      <unit id="org.eclipse.emf.mwe.core.feature.feature.group" version="1.3.21.201705291011"/>
      <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.21.201705291011"/>
      <unit id="org.eclipse.emf.validation.ocl.feature.group" version="1.11.0.201706061352"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.7.2.v20171108-1834"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.1.1.v20170906-1259"/>
      <unit id="org.eclipse.gmf.feature.group" version="1.11.0.201706061437"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.13.4.v20180330-0919"/>
      <unit id="org.eclipse.m2m.qvt.oml.feature.group" version="3.7.0.v20170604-1316"/>
      <unit id="org.eclipse.m2m.qvt.oml.project" version="3.7.0.v20170604-1316"/>
      <unit id="org.eclipse.ocl.all.feature.group" version="5.3.0.v20170522-1736"/>
      <unit id="org.eclipse.ocl.common.ui" version="1.3.200.v20160613-1518"/>
      <unit id="org.eclipse.ocl.core.sdk.feature.group" version="5.3.0.v20170522-1736"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.3.0.v20170613-1432"/>
      <unit id="org.eclipse.ocl.uml.feature.group" version="5.3.0.v20170522-1736"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="3.3.0.201803070847"/>
      <unit id="org.eclipse.pde.feature.group" version="3.13.4.v20180330-0640"/>
      <unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180330-0640"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.7.3.v20180330-0640"/>
      <unit id="org.eclipse.uml2.feature.group" version="5.3.0.v20170605-1616"/>
      <unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.9.1.v201803221834"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.9.2.v201711080222"/>
      <unit id="org.eclipse.xsd.feature.group" version="2.13.0.v20170609-0928"/>
      <unit id="org.eclipse.xwt.feature.feature.group" version="1.3.1.I20171018-2059"/>
      <repository id="eclipse-oxygen" location="http://download.eclipse.org/releases/oxygen/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtend.feature.group" version="2.0.0.v201406030414"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.14.0.v20180523-0937"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.14.0.v20180523-0937"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.14.0.v20180523-0937"/>
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.14.0.v20180523-0937"/>
      <unit id="org.eclipse.xtext.xbase.feature.group" version="2.14.0.v20180523-0937"/>
      <unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.14.0.v20180522-1631"/>
      <unit id="org.eclipse.xpand.feature.group" version="2.0.0.v201406030414"/>
      <repository id="xtext" location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.4.1.v20180515-1323"/>
      <repository location="http://download.eclipse.org/lsp4j/updates/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="5.3.1.201602281253"/>
      <repository location="http://hstaudacher.github.io/osgi-jax-rs-connector"/>
    </location>
  </locations>
</target>
