<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="application" point="org.eclipse.core.runtime.applications">
      <application cardinality="singleton-global" thread="main" visible="true">
         <run class="org.eclipse.emfcloud.coffee.workflow.dsl.ide.Application"></run>
      </application>
   </extension>
   <extension id="product" point="org.eclipse.core.runtime.products">
      <product application="org.eclipse.emfcloud.coffee.workflow.dsl.ide.application" name="Workflow DSL">
         <property name="appName" value="Workflow DSL"></property>
      </product>
   </extension>

</plugin>
