<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Workflow Analysis Editor"
            extensions="wfanalysis"
            icon="icons/sample.png"
            class="com.eclipsesource.workflow.analyzer.ui.WorkflowAnalysisEditor"
            id="com.eclipsesource.workflow.analyzer.ui.editors.WorkflowAnalysisEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.eclipsesource.workflow.analyzer.ui.WorkflowAnalysisHandler"
            commandId="com.eclipsesource.workflow.analyzer.ui.commands.workflowAnalysis">
      </handler>
   </extension>
   <extension
        point="org.eclipse.ui.menus">
      <menuContribution
           locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=navigateMenu">
        <separator
              name="com.eclipsesource.workflow.analyzer.ui.separator1">
        </separator>
        <command
              commandId="com.eclipsesource.workflow.analyzer.ui.commands.workflowAnalysis"
              icon="icons/wf-analysis.png"
              label="Perform Workflow Analysis"
              style="push">
                  <visibleWhen>
		             <iterate
		                   ifEmpty="false">
		                <or>
		                   <instanceof
		                         value="org.eclipse.papyrus.uml.diagram.activity.edit.parts.ActivityEditPart">
		                   </instanceof>
		                </or>
		             </iterate>
		          </visibleWhen>
        </command>
        <separator
              name="com.eclipsesource.workflow.analyzer.ui.separator2">
        </separator>
    </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.eclipsesource.workflow.analyzer.ui.commands.category"
            name="Workflows">
      </category>
      <command
            categoryId="com.eclipsesource.workflow.analyzer.ui.commands.category"
            id="com.eclipsesource.workflow.analyzer.ui.commands.workflowAnalysis"
            name="Perform Workflow Analysis">
      </command>
   </extension>

</plugin>
