<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension id="application" point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.eclipse.emfcloud.coffee.workflow.glsp.server.app.Application"></run>
      </application>
   </extension>
   <extension id="product" point="org.eclipse.core.runtime.products">
      <product application="org.eclipse.emfcloud.coffee.workflow.glsp.server.app.application" name="Workflow GLSP Server">
         <property name="appName" value="Workflow GLSP Server"></property>
      </product>
   </extension>
</plugin>
