svg {border:none;}
button[type='button'] {padding:0}

.json-forms-tree-editor,
.json-forms-tree-editor-sash,
.json-forms-tree-editor-tree,
.json-forms-tree-editor-forms {
  height: 100%;
}

.json-forms-tree-editor,
.json-forms-tree-editor-sash {
  width: 100%;
}

.json-forms-tree-editor-tree,
.json-forms-tree-editor-forms {
  overflow-y: auto;
}

.json-forms-tree-editor-tree .tree-icon-container {
  width: 16px;
  margin-right: 5px;
  text-align: center;
}

.json-forms-tree .node-buttons {
  visibility: hidden;
}

.json-forms-tree .node-button {
  margin-left: 5px;
}

.json-forms-tree .theia-TreeNode:hover .node-buttons {
  visibility: inherit;
}