svg {
  border: none;
}

button[type='button'] {
  padding: 0
}

.json-forms-tree-editor, .json-forms-tree-editor-sash, .json-forms-tree-editor-tree, .json-forms-tree-editor-forms {
  height: 100%;
}

.json-forms-tree-editor, .json-forms-tree-editor-sash {
  width: 100%;
}

.json-forms-tree-editor-tree, .json-forms-tree-editor-forms {
  overflow-y: auto;
}

.json-forms-tree-editor-tree .tree-icon-container {
  width: 16px;
  margin-right: 5px;
  text-align: center;
}

.json-forms-tree .node-buttons {
  visibility: hidden;
}

.json-forms-tree .node-button {
  margin-left: 5px;
}

.json-forms-tree .theia-TreeNode:hover .node-buttons {
  visibility: inherit;
}

/* Theia-specific styling */

.json-forms-tree-editor .MuiPaper-root {
  background: var(--theia-layout-color0);
  font-family: var(--theia-ui-font-family);
  font-size: var(--theia-ui-font-size0);
  color: var(--theia-ui-font-color1);
}

.json-forms-tree-editor .MuiTypography-h5 {
  font-size: var(--theia-ui-font-size3);
}

.json-forms-tree-editor .MuiTypography-h6 {
  font-size: var(--theia-ui-font-size2);
}

.json-forms-tree-editor .MuiList-root {
  background: var(--theia-layout-color1);
}

.json-forms-tree-editor .MuiTypography-root, .json-forms-tree-editor .MuiCardHeader-title {
  color: var(--theia-ui-font-color1);
}

.json-forms-tree-editor .MuiInputLabel-root {
  color: var(--theia-ui-font-color2);
}

.json-forms-tree-editor .MuiInputBase-input {
  color: var(--theia-ui-font-color0);
  background: var(--theia-layout-color1);
  font-size: var(--theia-ui-font-size1);
}

.json-forms-tree-editor .MuiSelect-select {
  padding-bottom: 3px;
}

.json-forms-tree-editor .MuiFormHelperText-root {
  margin-top: 0px;
  font-size: 0.3rem;
}

.json-forms-tree-editor .MuiCardContent-root {
  padding: 6px;
}

.json-forms-tree-editor .MuiCardContent-root:last-child {
  padding-bottom: 6px;
}

.json-forms-tree-editor .MuiCardHeader-root {
  padding: 6px;
}

.json-forms-tree-editor .MuiToolbar-gutters {
  padding-left: 0px;
  padding-right: 12px;
}

.json-forms-tree-editor .MuiAvatar-root {
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
}

.json-forms-tree-editor .MuiExpansionPanelSummary-root {
  padding: 0 4px 0 4px;
}

.json-forms-tree-editor .MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 6px 0;
}

.json-forms-tree-editor .MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 2px 0;
}

.json-forms-tree-editor .MuiExpansionPanelDetails-root {
  padding: 0px 6px 6px;
}