.sprotty-graph {
    background: rgb(179, 196, 202);
}

.sprotty-node {
    fill: #cdc;
    stroke: rgb(0, 0, 0);
}

.sprotty-edge {
    stroke: black;
}

.sprotty-edge.arrow {
    fill: black;
}

.sprotty-edge.selected {
    stroke: #844;
}

.sprotty-edge.selected>.arrow {
    fill: #844;
    stroke: #844;
}

.sprotty-node:not(.selected) {
    stroke: black;
}

.sprotty-node.forkOrJoin {
    fill: black;
}

.sprotty-node.forkOrJoin.selected {
    stroke: rgb(87, 87, 214);
}

polygon.sprotty-node {
    stroke: black;
}

.sprotty-node.selected {
    stroke: rgb(87, 87, 214);
}