<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="workflowBuilder"
         name="Workflow Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true">
         <run
               class="com.eclipsesource.workflow.builder.WorkflowBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.eclipsesource.workflow.natureID"
         name="Firmware Statemachine Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.eclipsesource.workflow.builder.WorkflowNature"/>
      </runtime>
      <builder id="com.eclipsesource.workflow.builder.workflowBuilder"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.eclipsesource.workflow.builder.workflowBuilder.category"
            name="Workflow Project Commands">
      </category>
      <command
            categoryId="com.eclipsesource.workflow.builder.workflowBuilder.category"
            defaultHandler="com.eclipsesource.workflow.builder.ToggleFirmwareStatemachineNatureHandler"
            id="com.eclipsesource.workflow.builder.addRemoveFirmwareStatemachineNature"
            name="Add/Remove Workflow Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.eclipsesource.workflow.builder.addRemoveFirmwareStatemachineNature"
               label="Disable Workflow Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.avl.dlux.statemachine.builder.dluxStatemachineNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.eclipsesource.workflow.builder.addRemoveFirmwareStatemachineNature"
               label="Enable Workflow Builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.avl.dlux.statemachine.builder.dluxStatemachineNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="statemachineProblem"
         name="Statemachine Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
