<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/CoffeeModelServer"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="org.eclipse.emfcloud.coffee.codegen.cpp.application"/>
        <setEntry value="org.eclipse.emfcloud.coffee.codegen.java.application"/>
        <setEntry value="org.eclipse.emfcloud.coffee.common"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.analyzer"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.analyzer.application"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.analyzer.coffee"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.dsl"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.dsl.ide"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.generator"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.generator.cpp"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.generator.java"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.glsp.server"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.glsp.server.app"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-CoffeeModelServer"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.emfcloud.coffee.modelserver.app.product"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="ch.qos.logback.slf4j@default:false"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-annotations@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-databind@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava.source"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.google.inject@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="javax.websocket@default:default"/>
        <setEntry value="org.aopalliance@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.cli@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.swt.gtk@default:false"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.elk.alg.common@default:default"/>
        <setEntry value="org.eclipse.elk.alg.layered@default:default"/>
        <setEntry value="org.eclipse.elk.core@default:default"/>
        <setEntry value="org.eclipse.elk.graph@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.emf.transaction@default:default"/>
        <setEntry value="org.eclipse.emf.validation@default:default"/>
        <setEntry value="org.eclipse.emfcloud.emfjson-jackson@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.client@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.common@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.edit@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.emf@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.glsp.integration@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.glsp.notation.commands@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.glsp.notation.model@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.lib@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.glsp.graph@default:default"/>
        <setEntry value="org.eclipse.glsp.layout@default:default"/>
        <setEntry value="org.eclipse.glsp.server@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.annotation*2.2.600.v20200408-1511@default:default"/>
        <setEntry value="org.eclipse.jetty.http*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.io*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.security*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.server*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.util*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.api@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.common@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.server@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.servlet@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.notifications@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.lsp4j.jsonrpc@default:default"/>
        <setEntry value="org.eclipse.lsp4j@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.ui.trace@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.eclipse.xtext.logging@default:false"/>
        <setEntry value="org.eclipse.xtext.xbase.lib@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.emfcloud.coffee.model@default:default"/>
        <setEntry value="org.eclipse.emfcloud.coffee.modelserver.app@default:default"/>
        <setEntry value="org.eclipse.emfcloud.coffee.modelserver@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
