<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.emfcloud.coffee.workflow.dsl.ide.application"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/WorkflowDSLSocketServer"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-workflowdsl.product"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.emfcloud.coffee.workflow.dsl.ide.product"/>
    <stringAttribute key="productFile" value="/org.eclipse.emfcloud.coffee.product/workflowdsl.product"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="ch.qos.logback.slf4j@default:false"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-annotations@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-databind@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.google.inject@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="io.github.classgraph@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="org.antlr.runtime@default:default"/>
        <setEntry value="org.aopalliance@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.lang@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.scr@2:true"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.logging.log4j@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.emf.transaction@default:default"/>
        <setEntry value="org.eclipse.emf.validation@default:default"/>
        <setEntry value="org.eclipse.emfcloud.emfjson-jackson@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.client@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.common@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.edit@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.emf@default:default"/>
        <setEntry value="org.eclipse.emfcloud.modelserver.lib@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.launcher.gtk.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.jetty.http*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.io*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.security*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.server*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.util*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax*9.4.44.v20210927@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.api@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.common@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.server@default:default"/>
        <setEntry value="org.eclipse.jetty.websocket.servlet@default:default"/>
        <setEntry value="org.eclipse.lsp4j.jsonrpc@default:default"/>
        <setEntry value="org.eclipse.lsp4j@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@default:true"/>
        <setEntry value="org.eclipse.pde.ds.lib@default:default"/>
        <setEntry value="org.eclipse.xtend.lib.macro@default:default"/>
        <setEntry value="org.eclipse.xtend.lib@default:default"/>
        <setEntry value="org.eclipse.xtext.common.types@default:default"/>
        <setEntry value="org.eclipse.xtext.ide@default:default"/>
        <setEntry value="org.eclipse.xtext.logging@default:false"/>
        <setEntry value="org.eclipse.xtext.util@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase.ide@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase.lib@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase@default:default"/>
        <setEntry value="org.eclipse.xtext@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.emfcloud.coffee.common@default:default"/>
        <setEntry value="org.eclipse.emfcloud.coffee.model@default:default"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.dsl.ide@default:default"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow.dsl@default:default"/>
        <setEntry value="org.eclipse.emfcloud.coffee.workflow@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
    <booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
